{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src/client"]
      }
    }
  },
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": false
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": 0
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
